/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./components/loaders/spinner.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;
  height: 100vh;
  width:100%;
  position:relative;
}

.spinner {
 width: 44px;
 height: 44px;
 animation: spinner-primary 2s infinite ease;
 transform-style: preserve-3d;
}

.loading-text{
  font-family: 'cairo', sans-serif;
}

.spinner > div {
 background-color: rgba(91, 116, 255, 0.4);
 height: 100%;
 position: absolute;
 width: 100%;
 border: 2px solid #7C8FFF;
 box-shadow: 0 0 10px rgba(91, 116, 255, 0.2);
}

.spinner div:nth-of-type(1) {
 transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
 transform: rotateY(-270deg) translateX(50%);
 transform-origin: top right;
}

.spinner div:nth-of-type(3) {
 transform: rotateY(270deg) translateX(-50%);
 transform-origin: center left;
}

.spinner div:nth-of-type(4) {
 transform: rotateX(90deg) translateY(-50%);
 transform-origin: top center;
}

.spinner div:nth-of-type(5) {
 transform: rotateX(-90deg) translateY(50%);
 transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
 transform: translateZ(22px);
}

@keyframes spinner-primary {
 0% {
  transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  border-color: #7C8FFF;
 }

 50% {
  transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  border-color: #5B74FF;
 }

 100% {
  transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  border-color: #7C8FFF;
 }
}

.loading-text {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #5B74FF;
  letter-spacing: 0.5px;
  font-size:18px
}

.animated-dots {
  display: inline-block;
  width: 24px;
  text-align: left;
  position: relative;
  height: 16px;
}

.animated-dots::after {
  content: '';
  color: #5B74FF;
  animation: dots-animation-ltr 1.5s infinite steps(4, end);
  position: absolute;
  left: 0;
}

[dir="rtl"] .animated-dots::after {
  animation: dots-animation-rtl 1.5s infinite steps(4, end);
  right: 0;
  left: auto;
}

@keyframes dots-animation-ltr {
  0%, 20% {
    content: '';
  }
  40% {
    content: '.';
  }
  60% {
    content: '..';
  }
  80%, 100% {
    content: '...';
  }
}

@keyframes dots-animation-rtl {
  0%, 20% {
    content: '';
  }
  40% {
    content: '.';
  }
  60% {
    content: '..';
  }
  80%, 100% {
    content: '...';
  }
}

